# Ignore node_modules folder
node_modules/
uploads/
# Ignore .env file (stores environment variables)
.env

# Ignore log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignore OS-specific files (for Mac and Windows)
.DS_Store
Thumbs.db


# Ignore any compiled/temporary files
*.swp
*.swo
*.tmp
*.bak

# Ignore coverage reports from tests
coverage/
*.lcov

# Ignore editor-specific configuration files (for various text editors/IDEs)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore build outputs
dist/
build/
